{% extends "base.html" %}

{% block body %}

<div class='pt-2'>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="">Home</a></li>
		  <li class="breadcrumb-item"><a href="{% url 'tests' %}">Tests</a></li>
          {% with test=question.test %}
		  <li class="breadcrumb-item"><a href="{% url 'get_test' id=test.id %}">{{test.name}}</a></li>
		  <li class="breadcrumb-item active" aria-current="page">QUE.{{question.id}}</li>
          {% endwith %}
		</ol>
	</nav>
</div>

<hr class='mb-4'/>

<form method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="SAVE">
</form>

{% endblock %}